set timeout=0
set default=0

menuentry "XINIM i486" {
    multiboot2 /boot/xinim
    module2 /boot/xash /bin/xash
    module2 /boot/mksh /bin/mksh
    module2 /boot/hello /bin/hello
    module2 /boot/false /bin/false
    module2 /boot/motd /etc/motd
    boot
}
