# Timeout in seconds before the default entry autoboots.
timeout: 1
serial: yes
verbose: yes

/XINIM x86_64
    protocol: limine
    path: boot():/boot/xinim
    cmdline: debug_shell
    module_path: boot():/boot/xash
    module_path: boot():/bin/sh
    module_path: boot():/etc/motd
